
// Principal Colors

$theme-color: var(--theme-color);
$second-color: var(--second-color);
$third-color: var(--third-color);
$main-color: var(--main-color);
$footer-color: var(--footer-color);
$gama-color: var(--gama-color);
$white-color: #fff;
$black-color: #000;